<nav class="nav__list">
  <label class="nav__title" style="margin-bottom: 0.4em; display: block; border-bottom: 1px solid #f2f3f3; padding-bottom: 0.4em; font-size: 1em; font-weight: bold; color: #3d4144; text-transform: uppercase; letter-spacing: 0.5px;">Categories</label>
  <ul class="nav__items" style="list-style: none; padding-left: 0; margin-left: 0;">
    {% for category in site.categories %}
      {% assign category_name = category[0] %}
      {% assign posts = category[1] %}
      <li style="margin-bottom: 0.2em; list-style: none;">
        <details class="category-details" open>
          <summary>
            <span>{{ category_name | capitalize }}</span>
            <span class="category-count">{{ posts.size }}</span>
          </summary>
          <ul class="category-posts">
            {% for post in posts %}
              <li style="list-style: none;">
                <a href="{{ post.url | relative_url }}">
                  {{ post.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endfor %}
  </ul>
</nav>
